/* reseteo */
*{  
    margin: 0;
    padding: 0;
    border: 0;
	font: inherit;
	/* vertical-align: baseline; */
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    
    }
