.section_contacto{
    background-color: rgb(45, 70, 184);
    .div_contacto{
        padding: 50px;
        border: solid;
        display: block;
        }
        .h1_contacto{
            color: white;
        }
        .p_contacto{
            font-size: 20;
        }

}